body {
    margin: 0;
    padding: 0;
    background-color: #EEE;
}
.logo {
    font-weight: normal;
    background-color: white;
    color: #152733;
    font-size: 45px;
    margin: 0;
    padding: 20px;
}
.nav {
    list-style-type: none;
    position: relative;
    background-color: #152733;
    padding: 20px;
    margin: 0 0 20px 0;
}
.nav li {
    display: inline;
}
.nav li a {
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.nav li a:hover {
    background-color: #EEE;
    color: #152733;
}
#right-pos {
    position: absolute;
    right: 20px;
}
#right-pos a {
    background-color: #EEE;
    color: #152733;
    border-radius: 100%;
    padding: 10px 15px;
}
.header {
    background-color: #9FBC2E;
    color: white;
    width: 100%;
    height: 400px;
    line-height: 400px;
    text-align: center;
}
.header p {
    margin: 0;
    font-size: 64px;
}
.content {
    text-align: center;
    width: 100%;
    margin: 20px;
}
.content .card{
    display: inline-block;
    width: 20%;
    text-align: left;
    padding: 20px;
    margin: 10px;
    background-color: white;
}
.container {
    width: 65%;
    margin: auto;
    overflow: hidden;
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
}
.container div{
    float: left;
}
.container div.col-7 {
    width: 70%;
}
.container div.col-3 {
    width: 30%;
}
.col-3 h2 {
    padding-left: 15%;
}
.sub-nav {
    list-style-type: none;
    background-color: #e7e7e7;
}
.sub-nav li {
    padding: 15px;
}
.sub-nav li a {
    text-decoration: none;
    color: black;
}

.gallery {
    clear: both;
    text-align: center;
    width: 70%;
    margin: auto;
}
.gallery div {
    display: inline-block;
    width: 25%;
    height: 180px;
    margin-left: -4px;
    margin-bottom: 50px;
}
.gallery .blue {
    background-color: #5EB1CF;
}
.gallery .green {
    background-color: #9FBC2E;
}
.gallery .yellow {
    background-color: #F5BC3B;
}
.gallery .red {
    background-color: #E75557;
}
.gallery div p {
    color: white;
    font-size: 20px;
    line-height: 150px;
}

