*{
    box-sizing: border-box;
}
.nav{
    list-style-type: none;
    padding: 15px;
    margin: 0px;
}
.nav li{
    display: inline;
    padding: 15px 15px;
}
.nav li a{
    font-size: 1rem;
    color: white;
    text-decoration: none;

}
.nav li a :hover{
    color:rgba(190, 84, 84, 0.781);
}
header{
    position: absolute;
    background-color: rgba(31, 24, 24, 0.897);
    width: 100%;
    color: azure;
}
header{
    position: relative;
    height:10vh;
}
#nav-logo{
    font-size: 25px;
    font-weight: bold;
    color: yellow;
}
.nav-center{
    position: absolute;
    left: 40%;
}
.d-inline{
    display: inline;
}
.card .shoes img{
    width: 280px;
    height: 220px;
    float: left;
    margin: 5px;
}
.card {
    margin: auto;
    width: 70%;  
}
.col{
    float: left;
    width: 30%;
    padding: 5px;
}
.col :hover{
    background-color: rgb(230, 175, 36);
}
.red-btn{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid white;
}