*{
    box-sizing: border-box;
}
.nav{
    list-style-type: none;
    padding: 15px;
    margin: 0px;
}
.nav li{
    display: inline;
    padding: 15px 15px;
}
.nav li a{
    font-size: 1rem;
    color: black;
    text-decoration: none;
}
.nav li a :hover{
    color:rgba(190, 84, 84, 0.781);
}
#nav-logo{
    font-size: 25px;
    font-weight: bold;
}
.nav-center{
    position: absolute;
    left: 40%;
}
.d-inline{
    display: inline;
}
.card .shoes img{
    width: 280px;
    height: 220px;
    float: left;
    margin: 5px;
    border: 1px solid black;
}
.card .shoes  img{
    margin: 10px;
}
.card {
    margin: auto;
    width: 70%;
    margin-top: 15px;
}
.col{
    float: left;
    width: 30%;
    padding: 5px;
}
.red-btn{
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    border: 1px solid white;
}